*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* UTILITY CLASS */
.float-left{
  float: left;
}
.clear-fix:after{
  display: table;
  clear: both;
  content: "";
}
.pad15{
	padding: 15px 15px;
}

.font{
  font-family: 'Poppins', sans-serif;
}
/* /UTILITY CLASS */



/* START CONTAINER */


/* HEADER */
header{
	height: 550px;
  background: lightgrey;
  background-image:url("img/image-header.png");
  background-position: center;
  background-size:cover;
  position: relative;
  padding: 30px 30px;
  border:15px solid white;
}

.logo-head img{
  position: relative;
  transform: translate(-50% , -50%);
  top: 50%;
  left: 50%;
  padding-bottom: 50px;
}

.logo-head h2{
  position:absolute;
  transform: translate(-50% , -50%);
  bottom: 20%;
  left: 50%;
  font-size: 35px;
  color: #e6e6e6;


}

/* /HEADER */


/* BARRA NAVIGAZIONE */

.barra-navigazione{
  position: relative;
  height: 70px;
    width: 100%;
  margin-bottom: 15px;
  background: #404040;
}

.content-barra{
  position: relative;
  height: 50px;
  width: 90%;
  margin: 0 auto;
}

.content-barra ul li{
  display: inline-block;
  padding: 30px 50px;
  font-size: 30px;
  position: relative;
  color: #e6e6e6;




}
/* FINE BARRA NAVIGAZIONE */


.container{
  background-image:url(img/image-back.png);
	width: 100vw;
  max-width: 1800px;
	margin: 0 auto;



}


/* START-BOX */

.box-container{
	width: 100%;
  position:

}

.box-1{
  position: relative;
	width: 25%;
	height: 700px;
  background: #f2f2f2;
  border-radius: 10%;
}


/* CONTENUTO BOX-1 */

.box-1 .logo-wifi{
  width:60px;
  height:60px;
  background-image:url(https://files.slack.com/files-pri/T91QPE3BP-F01F3JTHVTJ/image.png);
  background-position: center;
  background-size: cover;
}
.organic{
  font-size: 50px;
  padding-left: 20px;
}

.paragraph{
  display: inline-block;
  font-size: 30px;
  color:  #4dff4d;
}


/* END CONTENUTO BOX-1 */

.box-2{
	width:calc(50% - 50px);
	height: 430px;
  margin: 0 25px;
  background: #f2f2f2;
  border-radius: 10%;
}

/* CONTENUTO BOX-2 */
.box-2 h2{
  font-size: 50px;
  padding-bottom: 40px;
}
.box-2 p{
font-size: 25px;
}

/* END CONTENUTO-BOX-2 */


.box-3{
	width: 25%;

}


.right-box{
  height:600px;
  width: 100%;
  margin-bottom: 15px;
  background: #f2f2f2;
  border-radius: 10%;
}



/* CONTENUTO BOX-3 */

.right-box h3{
  text-align: center;
  font-size: 40px;
  padding-bottom: 30px;
}
.right-box p{
  font-size: 25px;
  padding: 0 5px;

}

/* END CONTENUTO BOX-3 */


/* END-BOX */


/* FOOTER */
.footer{
  position: relative;
	height: 250px;
   margin-top: 20px;
   	background-color: white;
}
.up-footer h3{
  text-align: center;
  border-bottom: 1px solid grey;
  color: #000;
}

.down-footer{
padding: 25px 200px;
}



/* END CONTAINER */
