*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* UTILITY CLASS */
.float-left{
  float: left;
}
.clear-fix:after{
  display: table;
  clear: both;
  content: "";
}
.pad15{
	padding: 15px 15px;
}
/* /UTILITY CLASS */



/* START CONTAINER */


/* HEADER */
header{
	height: 300px;
  border: 1px solid black;
  background: lightgrey;
  background-image:url("img/image-header.png");
  background-position: center;
}
/* /HEADER */


/* BARRA NAVIGAZIONE */

.barra-navigazione{
  height: 60px;
    width: 100%;
  margin-bottom: 15px;
  border: 1px solid black;
}

/* FINE BARRA NAVIGAZIONE */


.container{
  background-image:url(img/image-back.png);
	width: 100vw;
  max-width: 1200px;
	margin: 0 auto;


}


/* START-BOX */

.box-container{
	width: 100%;
}

.box-1{
	width: 25%;
	height: 500px;
  border: 1px solid black;

}
.box-2{
	width:calc(50% - 50px);
	height: 400px;
  border: 1px solid black;

	margin: 0 25px;
}
.box-3{
	width: 25%;
	background-color: ;
  border: 1px solid black;

}

/* BOX DI DESTRA */
.right-box{
  height:400px;
  width: 100%;
  border: 1px solid black;
  margin-bottom: 15px;
}

/* /BOX DI DESTRA */


/* END-BOX */


/* FOOTER */
footer{
	height: 80px;
   margin-top: 20px;
   	background-color: #1aff1a;
}



/* END CONTAINER */
